


@keyframes logo-shine {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}



/* Conteneur des produits */
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
}
.product {
    flex: 1 1 calc(20% - 1rem); 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}
.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.product img {
    width: 100%;
    border-radius: 10px;
}
.product h3 {
    margin-top: 1rem;
    color: #0071ce;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
.pagination button {
    padding: 0.5rem 1rem;
    background-color: #0071ce;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.pagination button:hover {
    background-color: #005ba1;
}
.pagination button.disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* Pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 2rem;
}
footer a {
    color: #ffd700;
    text-decoration: none;
    transition: color 0.3s;
}
footer a:hover {
    color: white;
}
.stars {
    margin-top: 0.5rem;
}
.stars span {
    font-size: 1.5rem;
    color: #ddd; 
    cursor: pointer;
    transition: color 0.3s;
}
.stars span.selected {
    color: #f4c430; /* Couleur des étoiles sélectionnées */
}
.product img {
    display: block; /* Transforme l'image en élément de type bloc */
    margin: 0 auto; /* Centre l'image horizontalement */
    max-width: 100%; /* Limite la taille de l'image à celle du conteneur */
    height: auto; /* Maintient les proportions */
}
.filter-buttons {
    display: flex;
    justify-content: flex-end; /* Aligne les boutons à droite */
    gap: 0.5rem; /* Espace entre les boutons */
    margin-top: 1rem; /* Espace entre le paragraphe et les boutons */
    margin-right: 3%;
}

.filter-buttons button {
    padding: 0.5rem 1rem;
    background-color: #0071ce;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-buttons button:hover {
    background-color: #005ba1;
}
.text{
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.2rem;
    color: #333; 
    line-height: 1.6; 
    text-align: justify; 
    margin-bottom: 1.5rem; 
    background-color: #f9f9f9; 
    padding: 1rem; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 


}

/* Responsive Design */
@media (min-width: 768px) {
    .paragraph,
    .video {
        flex: 1 1 50%; 
    }

    iframe {
        height: 300px;
    }
}

@media (min-width: 1024px) {
    .logo img {
        height: 140px;
    }

    .nav ul {
        font-size: 130%;
        
    }

    iframe {
        height: 400px;
    }
}